<!DOCTYPE html>
<html alng="en">
<head>
  <meta charset="UTF-8">
  <title>pure css creative glassmorhpism navigation dropdown</title>
  <!--<link rel="stylesheet" href="menu.css">--></head>
<body>

<div id="container">
  <ul id="menu">
    <li>
      <a href="">Home</a>
      <ul>
        <li><a href="">About us</a> </li>
        <li><a href="">Project</a> </li>
        <li><a href="">faq</a> </li>
      </ul>
    </li>
    <li>
      <a href="">Portfolio</a>
      <ul>
        <li><a href="">Recent Works</a> </li>
        <li><a href="">Our Designs</a> </li>
        <li><a href="">Creative</a></li>
        <li><a href="">Web Design</a> </li>
        <li><a href="">Development</a> </li>
        <li><a href="">New updates</a> </li>
      </ul>
    </li>
    <li>
      <a href="">Clients</a>
      <ul>
        <li><a href="">Staisfication</a> </li>
        <li><a href="">Designs</a> </li>
        <li><a href="">Mockup</a> </li>
      </ul>
    </li>
    <li>
      <a href="">Contact</a>
      <ul>
        <li><a href="">Creative</a> </li>
        <li><a href="">Designs</a> </li>
      </ul>
    </li>
  </ul>
</div>
<h2>Login Page</h2><br>
<div class="login">
  <form id="login" method="get" action="login.php">
    <label class="myColor"><b>User Name
    </b>
    </label>
    <input type="text" name="Uname" id="Uname" placeholder="Username">
    <br><br>
    <label class="myColor"><b>Password
    </b>
    </label>
    <input  type="Password" name="Pass" id="Pass" placeholder="Password">
    <br><br>
    <input type="button" name="log" id="log" value="Log In Here">
    <br><br>
    <input type="checkbox" id="check">
    <span>Remember me</span>
    <br><br>
  <label class="myColor">Forgot</label> <a class="myColor" href="#">Password</a>
  </form>
</div>
</body>
<head>
  <title>Login Form</title>
 <!-- <link rel="stylesheet" type="text/css" href="css/style.css">-->
</head>


</html>
